In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("smsspamcollection.tsv", sep="\t")

In [4]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

## Check for missing values

In [5]:
df.isnull()

      label  message  length  punct
0     False    False   False  False
1     False    False   False  False
2     False    False   False  False
3     False    False   False  False
4     False    False   False  False
...     ...      ...     ...    ...
5567  False    False   False  False
5568  False    False   False  False
5569  False    False   False  False
5570  False    False   False  False
5571  False    False   False  False

[5572 rows x 4 columns]

In [6]:
df.isnull().sum() # columns with 0 = no null value in that column

label      0
message    0
length     0
punct      0
dtype: int64

In [7]:
# number of rows
len(df)

5572

In [9]:
df["label"]

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5572, dtype: object

In [10]:
df["label"].unique()

array(['ham', 'spam'], dtype=object)

In [12]:
df["label"].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split

In [16]:
X = df[["length",	"punct"]]

In [17]:
X

      length  punct
0        111      9
1         29      6
2        155      6
3         49      6
4         61      2
...      ...    ...
5567     160      8
5568      36      1
5569      57      7
5570     125      1
5571      26      1

[5572 rows x 2 columns]

In [18]:
y = df["label"]

In [19]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5572, dtype: object

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [22]:
X_train.shape

(3900, 2)

In [23]:
X_test.shape

(1672, 2)

In [24]:
from sklearn.linear_model import LogisticRegression

In [26]:
lr = LogisticRegression(solver="lbfgs")

In [27]:
lr.fit(X_train, y_train)

LogisticRegression()

In [28]:
from sklearn import metrics

In [29]:
y_pred = lr.predict(X_test)

In [32]:
cm = metrics.confusion_matrix(y_test, y_pred)

In [34]:
pd.DataFrame(cm, index=["ham","spam"], columns=["ham","spam"])

       ham  spam
ham   1404    44
spam   219     5

In [36]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.87      0.97      0.91      1448
        spam       0.10      0.02      0.04       224

    accuracy                           0.84      1672
   macro avg       0.48      0.50      0.48      1672
weighted avg       0.76      0.84      0.80      1672

In [37]:
print(metrics.accuracy_score(y_test, y_pred))

0.8427033492822966

In [38]:
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB()

nb.fit(X_train, y_train)

y_pred = nb.predict(X_test)

print(metrics.confusion_matrix(y_test, y_pred))

[[1438   10]
 [ 224    0]]

In [40]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.87      0.99      0.92      1448
        spam       0.00      0.00      0.00       224

    accuracy                           0.86      1672
   macro avg       0.43      0.50      0.46      1672
weighted avg       0.75      0.86      0.80      1672

In [46]:
from sklearn.svm import SVC

svc = SVC(gamma = "auto")

svc.fit(X_train, y_train)

y_pred = svc.predict(X_test)

print(metrics.confusion_matrix(y_test, y_pred))

[[1373   75]
 [ 121  103]]

In [47]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.92      0.95      0.93      1448
        spam       0.58      0.46      0.51       224

    accuracy                           0.88      1672
   macro avg       0.75      0.70      0.72      1672
weighted avg       0.87      0.88      0.88      1672